/* shared styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.lato-regular {
  font-family: "Lato", sans-serif;
}
.lato-bold {
  font-family: "Lato", sans-serif;
}

.btn-primary {
  padding: 20px 40px;
  border: none;
  border-radius: 8px;
  background: rgb(229, 84, 115);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
}
.common-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
/* header section styles */
header {
  height: 750px;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content h1 {
  color: rgb(39, 39, 39);
  font-size: 80px;
  font-weight: 800;
}
.banner {
  padding: 30px 50px 0px 50px;
  background-color: rgba(229, 84, 115, 0.1);
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}
/* main styles */
.our-featured-flowers {
  max-width: 1440px;
  margin: 0px auto;
}
.our-featured-flowers-heading {
  width: 590px;
  margin: 150px auto 50px auto;
}
.our-featured-flowers-heading h3 {
  color: rgb(39, 39, 39);
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}
.our-featured-flowers-img {
  display: flex;
  justify-content: space-evenly;
}
.png-5 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 117px 47px 51px 47px;
}
.png-6 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 110px 75px 0px 75px;
}
.png-7 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 65px 75px 0px 75px;
}
.pink-flower-tree {
  display: flex;
  justify-content: space-evenly;
}
.pink-flower-tree p {
  margin: 30px auto;
  color: rgb(39, 39, 39);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration-line: underline;
}
.card-title {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  max-width: 1200px;
  margin: 100px auto;
}
.card-title .card {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.card-title .card {
  padding: 50px 0px 50px 0px;
}
.offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-top: 130px;
  padding: 50px 250px;
  gap: 150px;
}
.off {
  color: rgb(229, 84, 115);
}
.offer-content h2 {
  font-size: 40px;
  font-weight: 800;
}
.offer-content {
  text-align: center;
}
.intragram {
  max-width: 1200px;
  margin: 130px auto;
}
.intragram-content {
  text-align: center;
}
.intragram-content h2 {
  color: rgb(39, 39, 39);
  font-size: 40px;
  font-weight: 800;
}
.intragram-img img {
  width: 250px;
}
.intragram-img {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 50px;
}
.get-the-latest-deals {
  max-width: 1100px;
  background-image: url("/Flower Asset/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: 1100px;
  margin: 0px auto;
  padding: 60px 0px;
}
.get-the-latest-deals-content {
  text-align: center;
}
.get-the-latest-deals-content h3 {
  color: rgb(39, 39, 39);
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 15px;
}
.get-the-latest-deals-content p {
  margin-bottom: 45px;
}
.field input {
  border: none;
  background: rgb(255, 255, 255);
  width: 600px;
  height: 50px;
}
.field input:focus {
  outline: none;
}
.field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
footer {
  background-color: rgb(17, 16, 16);
  padding: 80px 400px;
  margin-top: 100px;
}
footer .flower {
  color: rgb(229, 84, 115);
}
footer .shop {
  color: rgb(255, 255, 255);
}
footer h3 {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}
.footer-content {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}
.All-rights-reserved {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
